<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Optimatic systems - <%= @item[:title] %></title>
    <link rel="stylesheet" href="<%= @items['/stylesheet2/'].path %>">
    <link rel="stylesheet" href="<%= @items['/superfish/'].path %>">
    <link rel="shortcut icon" href="/images/optimatic.ico" />
    
    <!--meta http-equiv="refresh" content="5"-->
    
    <!--script src="js/jquery.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.js"></script-->
    
    
      <meta name="keywords" content="optimisation, forecasting, simulation, constraint programming, heuristic search, metaheuristics, big data, integration"/>
    
    <!--add analytics code-->
  </head>
  <body>
  
  
    <div class="header">
    <div class="header_resize">
      <%= render 'menu' %>
      
      <div class="logo"><a href="index.html"><img src="/images/logo.png" height="200px"/><br /></a><div class="motto">No Excuses</div></div>
      
    </div>
  </div>
  
  
  
  <div id="main">
  	<div class="content">
  		<div class="content_resize">
  			<div class="mainbar">
  			
  				<%= yield %>
  				
  				<!--%= render 'sidebar' %-->
  				
  				<div class="clr"></div>
  				
  			</div>
  		</div>
  	</div>
  </div>
    
  <%= render 'footer' %>  

  </body>
</html>
