<!-- Footer Section -->
		<footer id="footer-section" class="footer-section section-gray-bg clearfix" style="margin: 40px 0 0 0;">
			<div class="copyrights">
				&copy; 2014 <strong><a href="http://adaptic.com.au/">Adaptic Solutions</a></strong> Pty Ltd&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="/company/privacy/"><strong>Privacy Policy</strong></a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="/company/disclaimer/"><strong>Disclaimer</strong></a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="/contact/contact-us/"><strong>Contact</strong></a>
			</div><!-- /.copyrights -->
		</footer><!-- /#footer-section -->
		<!-- Footer Section End -->



		<!-- Scroll to Top -->
		<div id="scroll-to-top">
			<span class="small-hex-btn">
				<span><i class="fa fa-chevron-up"></i></span>
			</span>
		</div><!-- /#scroll-to-top -->
		<!-- Scroll to Top End-->