
		
<ul class="sf-menu" id="example">
	<li>
		<%= link_to('Home', '/') %>
	</li>
	<li><a>Services</a>
    		<ul>
    		<li><%= link_to('Optimisation',			'/services/optimisation/') %></li>
 			<li><%= link_to('Simulation',			'/services/simulation/') %></li>
   			<li><%= link_to('Forecasting',			'/services/forecasting/') %></li>
   			<li><%= link_to('Integration and architecture',	'/services/integration-architecture/') %></li>
    		<li><%= link_to('Tool specialists',	'/services/specialist-skill-injection/') %></li>
    		</ul>
    	</li>
    	<li><a>Industry solutions</a>
    		<ul>
    		<li><%= link_to('Consumer products and services',	'/solutions/marketing-optimisation/') %></li>
 			<li><%= link_to('Capital-intensive plant and machinery',	'/solutions/planning-scheduling/') %></li>
   			<li><%= link_to('Sensor and log data',	'/solutions/exploratory-analytics/') %></li>
      		</ul>
      	</li>
      	<li><a>Company</a>
      		<ul>
  			<li><%= link_to('About',			'/company/about/') %></li>
  			<li><%= link_to('Management team',		'/company/team/') %></li>
  			<li><%= link_to('Partners and advisors',	'/company/advisors/') %></li>
  			<li><%= link_to('News',				'/company/news/') %></li>
  			<li><%= link_to('Publications',			'/company/publications/') %></li>
      		</ul>
      	</li>
      	<li><a>Careers</a>
      		<ul>
  			<li><%= link_to('Employment philosophy',		'/careers/philosophy/') %></li>
  			<li><%= link_to('Core competencies',		'/careers/core-competencies/') %></li>
  			<li><%= link_to('Roles',			'/careers/roles/') %></li>
  			<li><%= link_to('Tools and products',		'/careers/tools-products/') %></li>
      		</ul>
      	</li>
      	<li><a>Contact</a>
      		<ul>
      			<li><%= link_to('Contact us',			'/contact/contact-us/') %></li>
      		</ul>
      	<li>
</ul>
