
		
<ul class="sf-menu" id="example">
	<li class="current">
		<a>Home</a>
	</li>
	<li><a>Services</a>
    		<ul>
    			<li><a href="http://nanoc.ws/docs/">Optimisation</a></li>
 			<li><a href="http://nanoc.ws/docs/">Simulation</a></li>
   			<li><a href="http://nanoc.ws/docs/">Forecasting</a></li>
    			<li><a href="http://nanoc.ws/docs/">Integration and architecutre</a></li>
    			<li><a href="http://nanoc.ws/docs/">Specialist skill injection</a></li>        
    		</ul>
    	</li>
    	<li><a>Industry solutions</a>
    		<ul>
    			<li><a href="http://nanoc.ws/docs/">Marketing optimisation</a></li>
      			<li><a href="http://nanoc.ws/docs/">Plannnig and scheduling</a></li>
      			<li><a href="http://nanoc.ws/docs/">Exploratory analytics</a></li>
      		</ul>
      		</li>
      	<li><a>Company</a>
      		<ul>
      			<li><a href="http://nanoc.ws/docs/">About</a></li>
      			<li><a href="http://nanoc.ws/docs/">Management team</a></li>
      			<li><a href="http://nanoc.ws/docs/">Partners and advisors</a></li>
      			<li><a href="http://nanoc.ws/docs/">News</a></li>
      			<li><a href="http://nanoc.ws/docs/">Publications</a></li>
      		</ul>
      	</li>
      	<li><a>Careers</a>
      		<ul>
      			<li><a href="http://nanoc.ws/docs/">Roles</a></li>
      			<li><a href="http://nanoc.ws/docs/">Core competencies</a></li>
      			<li><a href="http://nanoc.ws/docs/">Tools and products</a></li>
      		</ul>
      	</li>
      	<li><a>Contact</a>
      		<ul>
      			<li><a href="http://nanoc.ws/docs/">Contact us</a></li>
      		</ul>
      	<li>
</ul>
