
		
<ul class="sf-menu" id="example">
	<li class="current">
		<a>Home</a>
	</li>
	<li><a>Services</a>
    		<ul>
    			<li><a href="services/optimisation.html">Optimisation</a></li>
 			<li><a href="services/simulation.html">Simulation</a></li>
   			<li><a href="services/forecasting.html">Forecasting</a></li>
    			<li><a href="services/integration-architecture.html">Integration and architecutre</a></li>
    			<li><a href="services/specialist-skill-injection.html">Specialist skill injection</a></li>        
    		</ul>
    	</li>
    	<li><a>Industry solutions</a>
    		<ul>
    			<li><a href="solutions/marketing-optimisation.html">Marketing optimisation</a></li>
      			<li><a href="solutions/planning-scheduling.html">Plannnig and scheduling</a></li>
      			<li><a href="solutions/exporatory-analytics.html">Exploratory analytics</a></li>
      		</ul>
      		</li>
      	<li><a>Company</a>
      		<ul>
      			<li><a href="company/about.html">About</a></li>
      			<li><a href="company/team.html">Management team</a></li>
      			<li><a href="company/advisors.html">Partners and advisors</a></li>
      			<li><a href="company/news.html">News</a></li>
      			<li><a href="company/publications.html">Publications</a></li>
      		</ul>
      	</li>
      	<li><a>Careers</a>
      		<ul>
      			<li><a href="careers/roles.html">Roles</a></li>
      			<li><a href="careers/core-competencies.html">Core competencies</a></li>
      			<li><a href="careers/tools-products.html">Tools and products</a></li>
      		</ul>
      	</li>
      	<li><a>Contact</a>
      		<ul>
      			<li><a href="contact/contact-us.html">Contact us</a></li>
      		</ul>
      	<li>
</ul>
