<div class="widget clearfix">
	<h3 class="title">
		Navigation
	</h3>

	<ul class="widget-content">		
		<li><%= link_to('Consumer products and services',	'/solutions/marketing-optimisation/') %></li>
	 	<li><%= link_to('Supply chain planning and scheduling ',	'/solutions/planning-scheduling/') %></li>
	   	<li><%= link_to('Sensor and log data',	'/solutions/exploratory-analytics/') %></li>
	   	<li><%= link_to('Agile data warehouse',	'/solutions/agile-dw/') %></li>
	</ul><!-- /.widget-content -->

</div>