---
title: Management team
---
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>

<div class="team-container">
	<h2>Maksud Ibrahimov, Ph.D.</h2>
	<div class="item">
		<div class="team-member">
			<div id="team-member-img-1">	
				<img src="<%= @items['/images/maksud/'].path %>" alt="Team Photo">		
			</div><!-- /.team-member-img-hex-in2 -->
		</div><!-- /.team-member -->
	</div><!-- /.item -->
	<div class="team-desc">
		<p>Maksud has more than a decade of experience in decision support systems, optimisation and software engineering with large enterprises, such as ABB and Schneider Electric.</p>
		<p>He has analysed and improved the supply chains of large mining and manufacturing companies across Australia. He is highly experienced in planning, scheduling, logistics and distribution systems analysis, integration and business process design and has built solutions which increase profit and customer satisfaction while ensuring safety and regulatory standards are upheld.</p>
		<p>He's created novel algorithms which he has applied to a variety of business functions and industries. In the 2004 International Informatics Olympiad (an algorithmics contest), he won the Bronze Medal.</p>
	</div>
</div>

<div class="team-container">
	<h2>Alister Lee</h2>
	<div class="item">
		<div class="team-member">
			<div id="team-member-img-1">	
				<img src="<%= @items['/images/face/'].path %>" alt="Team Photo">		
			</div><!-- /.team-member-img-hex-in2 -->
		</div><!-- /.team-member -->
	</div><!-- /.item -->
	<div class="team-desc">
		<p>For twenty years, Alister has been helping commercial and government organisations use IT to optimise processes and decisions. With a career founded on delivery excellence from years in PwC and IBM on ERP and Data Warehouse projects, Alister ensures that Adaptic's work is aligned to your strategy, manages risk effectively, and that the application of our state-of-the-art architectures and techniques will achieve the breakthrough improvements you are seeking in revenue, cost or competitiveness.
		</p>
	</div>
</div>

<div class="team-container">
	<h2>Mehrdad Heidari, Ph.D.</h2>
	<div class="item">
		<div class="team-member">
			<div id="team-member-img-1">
				<img src="<%= @items['/images/mehrdad/'].path %>" alt="Team Photo">			
			</div><!-- /.team-member-img-hex-in2 -->
		</div><!-- /.team-member -->
	</div><!-- /.item -->
	<div class="team-desc">
		<p>Merhdad has 20 years of experience optimising mining processes and schedules based on highly-developed mathematics, algorithms and statistics skills. His specialty is applying data science methods in geostatistics.</p>
		<p>With his experience, Mehrdad is extremely adept at selecting appropriate methods and algorithms for a given problem and ensuring that the data applied, including cleansing and engineering of features, supports modelling and tuning. Merhdad's oversight ensures that conclusions drawn from the model will add business value.</p>
        <p>Merhdad is also skilled at process modelling and data visualisation which is critical to ensure that the findings of the modelling effort can be absorbed by management decision-makers and the business value can be realised.</p>
	</div>
</div>

<h1>Advisory board</h1>

<div class="team-container">
	<h2>Rajendra Shirke</h2>
	<div class="item">
		<div class="team-member">
		
			<div id="team-member-img-1">
				<img src="<%= @items['/images/raj/'].path %>" alt="Team Photo">			
			</div><!-- /.team-member-img-hex-in2 -->
						
		</div><!-- /.team-member -->
	</div><!-- /.item -->
	<div class="team-desc">
		<p>For over 20 years, Raj has architected, built and delivered operational and management IT solutions with Accenture, Honeywell and ABB. Raj brings a depth of experience and insight into the challenges and solutions to the data integration requirements of reporting, analytics and decision support systems.</p>
        <p>Raj is a creative and practical Solution Architect whose oversight will ensure that Adaptic's clients are offered achievable and maintainable data engineering solutions. Raj is currently focusing on cloud infrastructure deployment and migration challenges in large enterprises.</p>
	</div>
</div>

<div class="team-container">
	<h2>Asef Nazari, Ph.D.</h2>
	<div class="item">
		<div class="team-member">	
			
			<div id="team-member-img-1">		
				<img src="<%= @items['/images/asef/'].path %>" alt="Team Photo">	
			</div><!-- /.team-member-img-hex-in2 -->
		
		</div><!-- /.team-member -->
	</div><!-- /.item -->
	<div class="team-desc">
		<p>A CSIRO scientist, Asef is a specialist machine learning advisor to Adaptic in the realm of operations research, mathematical modelling, optimisation algorithms and their application to scheduling, classification and clustering.</p>
        <p>Asef is currently developing state-of-the-art algorithms to improve the productivity and profitiability of Australian enterprises in the areas of real option pricing, inventory and packing, land use management and electricity network design.</p>
	</div>
</div>